@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* SFONDO: #cacfd1 */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #cacfd1;
}

/* ----------------------- NAVBAR ----------------------- */
.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 2;
}

.inner-width {
  max-width: 1300px;
  margin-left: auto;
  padding: 0 40px;
}

.navbar .inner-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu a {
  color: #046fab;
  font-size: 17px;
  font-weight: 700;
  margin-left: 30px;
  transition: 0.4s linear;
  padding: 10px;
}

.navbar-menu a:last-child {
  border: solid 2px #046fab;
}

.navbar-menu a:hover {
  text-decoration: none;
  background-color: #046fab;
  color: white;
}

.sticky {
  background-color: #046fab;
  padding: 18px 0;
}

/* ----------------------- SFONDO ----------------------- */
.b1 {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../IMG/sfondo.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}

.b1 .in1 {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.b1 .in1 {
  max-width: 500px;
  margin-left: auto;
  text-align: left;
  align-content: space-between;
}

.b1 .in1 .textBox {
  position: relative;
  max-width: 450px;
  left: 5rem;
}

.b1 .in1 .textBox h2 {
  color: #046fab;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.b1 .in1 .textBox h2 span {
  color: #046fab;
  font-size: 1.2em;
  font-weight: 900;
}

.b1 .in1 .textBox p {
  color: #046fab;
}

.b1 .in1 .textBox #SearchButton {
  color: #046fab;
  margin-left: 5%;
}

.b1 .in1 .textBox #SearchButton {
  border: solid 1px #046fab;
  color: #046fab;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.b1 .in1 .textBox #SearchButton:hover {
  background: #046fab;
  color: #fff;
}

.b1 .in1 .textBox .input-group .form-control {
  max-width: 70%;
}

/* ----------------------- CARTE ----------------------- */
h1 {
  text-align: center;
  font-weight: bold;
  color: #046fab;
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  color: #046fab;
  font-size: 3rem;
}

.card {
  max-width: 30%;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
}

/* ----------------------- DETTAGLI ----------------------- */
.detailContainer {
  position: relative;
  top: 10rem;
}

.detailContainer img {
  position: relative;
  left: 10rem;
}

.detailContainer #compra {
  background-color: #046fab;
}

.detailContainer #carrello {
  color: #046fab;
}

/* --------------------- LOGIN FORMS --------------------- */
.loginContainer {
  position: relative;
}

#loginForm {
  background-color: white;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  top: 10rem;
  left: 25%;
}

/* ----------------------- MODAL ----------------------- */
.alert-warning {
  z-index: 3;
}